<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" *ngIf="this.FormStatus == false"> Sign In </h2>
      <h2 class="inactive underlineHover" *ngIf="this.FormStatus == true" (click) = "redirectLoginForm()"> Sign In </h2>
      <h2 class="active" *ngIf="this.FormStatus == true">Sign Up </h2>
      <h2 class="inactive underlineHover" *ngIf="this.FormStatus == false" (click) = "redirectRegisterForm()">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://i.ibb.co/41zP40z/nft.webp" alt="nft" width="200dx" height="100dx">
      </div>
  
      <!-- Login Form -->
      <form *ngIf="this.FormStatus == false">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="this.authRequest.Username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="this.authRequest.Password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="loginSubmit()">
      </form>

      <!-- Register Form -->
      <form *ngIf="this.FormStatus == true">
        <input type="text" id="login" class="fadeIn second" name="register" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="register" placeholder="password">
        <input type="password" id="password" class="fadeIn third" name="register" placeholder="confirm password">
        <input type="text" id="gmail" class="fadeIn third" name="register" placeholder="gmail">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>